#divTodo
{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #CCFFCC;
}

#divContingut
{
	margin-left: 7.5%;
	width: 85%;
	height: 50%;
	border-style: solid;
	border-width: 0.5%;
	border-color: black;
}

#divEsquerre
{
	float:left;
	width: 20%;
	height: 100%;
	background-color: black;
	border-style: solid;
	border-left-width: 0;
	border-right-width: 0.5%;
	border-top-width: 0;
	border-bottom-width: 0;
	border-color: black;
}

#imageLogo
{
	width: 100%;
	height: 50%;
}

ul
{
	margin-top: 30%;
	margin-left: 0%;
}

li
{
	display: block;
	text-decoration: none;
}

.classLI
{
	margin-top: 6%;
}

#divDisplayInteractive
{

	float:left;
	width: 80%;
	height: 100%;
}

#divTitleDisplay
{
	width: 100%;
	height: 8%;
	color: white;
	text-align: center;
	font-weight: bold;
	background-color: black;
}

#divPlayGame
{
	width: 100%;
	height: 92.25%;
}

#divShowGame
{
	width: 70%;
	height: 88%;
	float: left;
	background-color: white;
}

#divShowGame > span
{
	margin-left:15%; 
	width:70%;
	background-color:green;
}

.classLetters
{
	width: 6%;
	margin-top: 5%;
	margin-left: 1%;
	margin-right: 1%;
	color: black;
	border-color: black;
}

.classShowLetter
{
	text-align: center;
	font-weight: bold;	
	text-transform: capitalize;
}

#divInputLetter
{
	width: 7%;
	margin-left: 2%;
	margin-right: 4%;
	color: red;
}

#divWriteWord
{
	width: 70%;
	height: 15%;
	margin-left: 15%;
	margin-top: 5%;
	padding: 1%;
	font-family: arial;
	font-weight: bold;
	color: black;
}

#divLetrasUsadas
{
	width: 70%;
	height: 15%;
	margin-left: 15%;
	margin-top: 6%;
	padding-bottom: 7%;
	background-color: green;
	border-style: solid;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	color: black;
}

#divLetrasUsadas > span
{
	color: white;
}

#imageAhorcado
{
	width: 30%;
	height: 88%;
	float:right;
}

#divShowTime
{
	clear: both;
	width: 100%;
	height: 12%;
	background-color: white;
	border-style: solid;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0.5%;
	border-bottom-width: 0;
	border-color: black;
	color: green;
	font-family: arial;
	font-size: 2em;
}

#imageClock
{
	float:left;
	margin-right: 3%;
	width: 5%;
	height: 100%;
}