#divTodo
{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #CCFFCC;
}

#divContingut
{
	margin-left: 7.5%;
	width: 85%;
	height: 50%;
}

#divEsquerre
{
	float:left;
	width: 20%;
	height: 100%;
	background-color: black;
	border-style: solid;
	border-width: 0.5%;
	border-color: black;
}

#imageLogo
{
	width: 100%;
	height: 50%;
	margin-bottom: 4%;
}

ul
{
	margin-top: 30%;
	margin-left: 0%;
}

li
{
	display: block;
	text-decoration: none;
}

.classLI
{
	margin-top: 6%;
}

#divDisplayInteractive
{

	float:left;
	width: 80%;
	height: 100%;
}

#divTitleDisplay
{
	width: 100%;
	height: 8%;
	color: white;
	text-align: center;
	font-weight: bold;
	background-color: black;
	font-size: 1.5em;
}

#divPlayGame
{
	width: 100%;
	height: 92.25%;
	border-style: solid;
	border-left-width: 0;
	border-right-width: 0.5%;
	border-top-width: 0.5%;
	border-bottom-width: 0.5%;
	border-color: black;
}

#divMessages, #divAddWords
{
	width: 100%;
	height: 100%;
	border-style: solid;
	border-left-width: 0;
	border-right-width: 0.5%;
	border-top-width: 0.5%;
	border-bottom-width: 0.5%;
	border-color: black;
	background-color: white;
}

#divStateMessage
{
	width: 80%;
	height: 30%;
	margin-left: 13%;
}

#divStateMessage > h2
{
	float: left;
	margin-left: 2%;
	margin-right: 2%;
	font-family: arial;
	font-size: 3em;
	text-align: center;
	line-height: 150%;
	color: black;
	font-weight: bold;
}

#divVidasRestantes, #divTiempoInvertido
{
	background-color:green;
}

#divPuntuacion
{
	background-color:black;	
}

.classMessages
{
	width:0%; 
	height:10%; 
	margin-left:0; 
	margin-top: 3.5%;
	text-align: center;
	-webkit-border-top-right-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topright: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.classMessages > span
{
	line-height: 200%;
	color: white;
	font-weight: bold;
}

.classImageSpin
{
	float: left;
	margin-top: 4%;
	width: 10%;
	height: 50%;
}

#divShowGame
{
	width: 70%;
	height: 88%;
	float: left;
	background-color: white;
}

#divShowGame > span
{
	margin-left:15%; 
	width:70%;
	background-color:green;
}

.classLetters
{
	width: 6%;
	margin-top: 5%;
	margin-left: 1%;
	margin-right: 1%;
	color: black;
	border-color: black;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.classShowLetter
{
	text-align: center;
	font-weight: bold;	
	text-transform: capitalize;
}

#divInputLetter
{
	width: 7%;
	margin-left: 2%;
	margin-right: 4%;
	color: red;
}

#divWriteWord
{
	width: 70%;
	height: 15%;
	margin-left: 15%;
	margin-top: 5%;
	padding: 1%;
	font-family: arial;
	font-weight: bold;
	color: black;
}

#divLetrasUsadas
{
	width: 70%;
	height: 15%;
	margin-left: 15%;
	margin-top: 6%;
	padding-bottom: 7%;
	background-color: green;
	border-style: solid;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	color: black;
}

#divLetrasUsadas > span
{
	color: white;
}

#imageAhorcado
{
	width: 30%;
	height: 88%;
	float:right;
}

#divInferior
{
	clear: both;
	width: 100%;
	height: 12%;
	background-color: white;
	border-style: solid;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0.5%;
	border-bottom-width: 0;
	border-color: black;
	color: black;
	font-family: arial;
	font-size: 2em;
}

#divClockTime
{
	width: 25%;
}

#divCalendarDate
{
	width: 50%;
}

#divVidas
{
	width: 25%;
}

.classDivsInferior
{
	float:left;
	height: 100%;
}

#imageClock
{
	width: 15%;
}

#imageCalendar
{
	width: 9%;
}

#imageLife
{
	width: 15%;
}

.classImagesInferior
{
	float:left;
	margin-left: 30%;
	margin-right: 8%;
	
	height: 100%;	
}