
.classFieldsCarrerasImpar
{
	float: left;
	width:80%; 
	height:4.5%; 
	background-image:url('../images/field1.png');
}

.classFieldsCarrerasPar
{
	float: left;
	width:80%; 
	height:4.5%; 
	background-image:url('../images/field2.png');
}

.classImageGoal
{
	float: left;
	width:3%; 
	height:4.5%;
}

.classSnailImage
{
	margin-left: 0;
	width: 5%;
	height: 100%;
	z-index: 3;
	-moz-transform: scaleX(-1); /* Firefox */
	-o-transform: scaleX(-1); /* Opera */
	-webkit-transform: scaleX(-1); /* Chrome y Safari */
	transform: scaleX(-1); /* w3org */
	filter: FlipH; /* Internet Explorer */
}

.classSnailImage:hover
{
	cursor: pointer;
}

.progress
{
	width: 12%;
}

.classSpanProgress
{
	font-family: fantasy;
	font-weight: bold;
	line-height: 200%;
	color:white;
	font-size: 1.3em;
}

.classSnailButton
{
	width: 5%;
	height: 100%;
}
