#divTot
{
	width: 90%;
	height: 90%;
	border-style: solid;
	border-width: 3px;
	border-color: #5E2217;
}

#divTitol
{
	width:100%;
	height: 5%;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #5E2217;
	background-color: #7F5217;
}

#divContingut
{
	width: 100%;
	height: 94%;
}

#divCodi
{
	float:left;
	width: 75%;
	height: 100.5%;
	border-right-style: solid;
	border-right-width: 3px;
	border-right-color: #5E2217;
	background-color: #BDB76B;
}

#divDreta
{
	float:left;
	width: 24.73%;
	height: 100%;
}

#divLlista
{
	width: 100%;
	height: 70%;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #5E2217;
	background-color: #6B8E23;
}

#divResultat
{
	width: 100%;
	height: 30%;
	background-color: #99C68E;
}